<div class="landing">
  <div class="row w-100">
    <div class="d-flex">
      <div class="col-lg-12 m-0" style="height: 0">
        <div
          class="col-lg-12 d-flex logosMobile mt-2 mb-2"
          style="justify-content: center; position: sticky"
        >
          <div
            class="logoLacasitos d-flex justify-content-center align-items-center"
          >
            <img
              class="laca logo-lacasitos"
              width="300"
              height="69"
              fetchpriority="high"
              src="../../../../assets/images/logoLacasitos.webp"
              alt="Logo Lacasitos"
            />
          </div>
          <div
            class="logoConguitos d-flex justify-content-center align-items-center"
          >
            <img
              class="cong logo-conguitos"
              width="300"
              height="131"
              fetchpriority="high"
              src="../../../../assets/images/logoConguitos.webp"
              alt="Logo Conguitos"
            />
          </div>
        </div>

        <div
          class="col-lg-12 d-flex flex-column align-items-center containerTitulosMobile"
          style="width: 100vw"
        >
          <ng-container>
            <div
              class="d-flex flex-column text-center mt-3 mb-5 col-lg-8 card cajaContenido"
            >
              <span class="primerTitulo">¡LO TENEMOS!</span>

              <span class="textoMarron">
                TRAS COMPROBAR TU TICKET NOS PONDREMOS EN CONTACTO CONTIGO PARA
                ENVIARTE UN CÓDIGO CON EL QUE PODRÁS OBTENER UNA ENTRADA
                GRATUITA
              </span>

              <div class="row text-center py-2 d-flex justify-content-center">
                <div
                  class="col-12 col-md-12 d-flex flex-column align-items-center"
                >
                  <img
                    width="500"
                    height="250"
                    loading="lazy"
                    src="assets/images/premioEroski2026.webp"
                    alt="Premio Eroski"
                    class="img-fluid prize-image"
                  />
                </div>
              </div>

              <span class="textoMarron">
                ADEMÁS, SOLO POR HABER PARTICIPADO ENTRAS EN EL SORTEO DE
              </span>

              <span class="primerTitulo">
                UNA EXPERIENCIA PARA CELEBRAR
                <span class="textoCumple">TU CUMPLEAÑOS</span>
              </span>

              <span class="textoCondiciones"
                >*Consulta condiciones en las <a href="../../../../assets/pdf/bbll_lacasaCocoRoom2026.pdf" target="_blank" rel="noopener noreferrer">Bases legales.</a></span
              >
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
