<div class="landing">
    <div class="row w-100">
        <div class="d-flex">
            <div class="col-lg-12 m-0" style="height: 0;">
                <div class="col-lg-12 d-flex logosMobile mt-2 mb-2"
                    style="justify-content: center; position: sticky;">

                    <div class="logoLacasitos d-flex justify-content-center align-items-center">
                        <img class="laca logo-lacasitos"
                            src="../../../../assets/images/logoLacasitos.webp"
                            width="300"
                            height="69"
                            fetchpriority="high"
                            alt="Logo Lacasitos">
                    </div>
                    <div class="logoConguitos d-flex justify-content-center align-items-center">
                        <img class="cong logo-conguitos"
                            src="../../../../assets/images/logoConguitos.webp"
                            width="300"
                            height="131"
                            fetchpriority="high"
                            alt="Logo Conguitos">
                    </div>
                </div>
                <div class="col-lg-12 d-flex flex-column align-items-center containerTitulosMobile"
                    style="width: 100vw">
                    <div class="d-flex flex-column text-center mt-3 mb-5 col-lg-8 card cajaContenido">

                        <span class="primerTitulo"> ¡LO SENTIMOS!</span>
                                                <span class="segundoTitulo">NO HAS RESULTADO GANADOR</span>

                        <div class="row justify-content-center py-2">
                            <div class="col-12 d-flex flex-column align-items-center">
                                <img class="emoji img-fluid"
                                    src="../../../../assets/images/Emoticono_llorando.webp"
                                    width="300"
                                    height="300"
                                    loading="lazy"
                                    alt="Emoji llorando">
                            </div>
                        </div>
                        <span class="segundoTitulo">MUCHAS GRACIAS POR PARTICIPAR.</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>