<div class="misc-wrapper">
  <a class="brand-logo" href="javascript:void(0);">
    <h2 class="brand-text text-primary ml-1">
      {{ configuracionLanding.app.appName }}
    </h2>
  </a>
  <div class="misc-inner p-2 p-sm-3">
    <div class="w-100 text-center">
      <h2 class="mb-1">
        {{ "PAG_NO_ENCONTRADA.LABELS.lb_titulo" | translate }}
      </h2>
      <p class="mb-2">
        {{ "PAG_NO_ENCONTRADA.LABELS.lb_urlIncorrecta" | translate }}
      </p>
      <a class="btn btn-primary mb-2 btn-sm-block" routerLink="/"
        rippleEffect>{{ "PAG_NO_ENCONTRADA.BUTTONS.bt_volverFormulario" | translate }}</a>
    </div>
  </div>
</div>