@import "@core/scss/base/bootstrap-extended/include"; // Bootstrap includes
@import "@core/scss/base/components/include"; // Components includes

.dropdown-menu-right {
  right: 0 !important;
  left: auto !important;
}

app-navbar-bookmark {
  display: flex;
}

.navbar-static-style-on-scroll {
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 0px !important;
}

.dark-layout {
  .navbar-container {
    .search-input {
      .search-list {
        li {
          &.auto-suggestion {
            &:hover {
              background-color: $theme-dark-body-bg;
            }
          }
        }
      }
    }
  }
}

.barraNavegacionPadre {
  background-color: white;
  // height: 10vh;
}

.barraNavegacion {
  background-color: white !important;
  padding-left: 1rem;
  background-color: #dd081c;
  letter-spacing: 0.06rem;
}

.barraNavegacion a,
.barraNavegacion i {
  color: white;
  font-size: 1.3rem;
}

.barraNavegacion a:hover {
  transform: scale(1.15);
  font-weight: 600;
}

.containerTitulo h1 {
  font-weight: bolder;
}

.containerTitulo span {
  color: black;
}

a {
  color: #918c62 !important;
  font-weight: 500;
}

@media (min-width: 320px) and (max-width: 767px) {
  .logoRodilla {
    margin-right: 15rem;
  }

  .navMovil {
    background-color: black !important;
    display: flex;
    align-items: center;
  }
}
