<div class="bg-white p-0 d-flex justify-content-center">
  <!-- <p class="clearfix mb-0">

    <span class="float-md-left d-block d-md-inline-block mt-25">
      COPYRIGHT &copy; {{ year }}
      <a class="ml-25" href="https://1.envato.market/pixinvent_portfolio" target="_blank">Pixinvent</a>
      <span class="d-none d-sm-inline-block">, All rights Reserved</span>
    </span>
    <span class="float-md-right d-none d-md-block">
      Hand-crafted & Made with
      <span [data-feather]="'heart'" [class]="'pink'"></span>
    </span>
  </p> -->

  <!-- <app-scroll-top></app-scroll-top> -->
  <div class="mb-2">
    <div class="text-center d-flex flex-column mt-2">
      <div class="mb-2">
        <i class="fa fa-envelope-open icon" style="color: #D16B3A;"> </i><a href="mailto: hola@rodillagt.com">
          hola@rodillagt.com</a>
      </div>
      <ul class="col-lg-12 social-icons social-icons-big social-icons-dark-2 d-flex"
        style="list-style: none; justify-content: space-evenly;">
        <li class="social-icons-facebook">
          <a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook-f"
              style="color:black; font-size: 2rem;"></i></a>
        </li>
        <li class="social-icons-twitter">
          <a href="#" target="_blank" title="Instagram"><i class="fa fa-instagram"
              style="color:black; font-size: 2rem;"></i></a>
        </li>
        <li class="social-icons-linkedin">
          <a href="#" target="_blank" title="Linkedin"><i class="fa fa-linkedin"
              style="color:black; font-size: 2rem;"></i></a>
        </li>
      </ul>
    </div>
    <div class="links row">
      <div class="col-md-12 offset-md-1 my-auto m-0">
        <a target="_blank" href="../../../../assets/pdf/politica_privacidad_gt.pdf" style="color: black">Política de
          privacidad</a>
        <a target="_blank" href="../../../../assets/pdf/bases_legales_gt.pdf" style="color: black">Bases legales</a>
        <a target="_blank" href="../../../../assets/pdf/aviso_legal_gt.pdf" style="color: black">Aviso Legal</a>
        <a target="_blank" href="../../../../assets/pdf/politica_coockies_gt.pdf" style="color: black">Política de
          cookies</a>
      </div>
    </div>
  </div>
</div>